// typography
$base-font-family: 'Poppins', sans-serif;
$reset-rem-size: 62.5%;
$font-size-base: 1.6rem;

// image path
$image-path: '../images';

$customScrollSize: 8px;
$row-gutter: 12px;

// border radius
$border-radius: 6px;
